<header class="header">
  <ul class="header__list">
    <li class="header__item">Netpro</li>
    <li class="header__item">Item</li>
  </ul>
</header>
<style scoped>
.header__list {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 30px;
  background-color: rgba(65, 105, 225, 0.637);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header__item {
  font-weight: 500;
  color: white;
}
</style>